[submodule "cassandra"]
	path = cassandra
	url = http://github.com/apache/cassandra.git
[submodule "pig"]
	path = pig
	url = git://git.apache.org/pig.git
[submodule "cc2010"]
	path = cc2010
	url = git@codaset.com:kbhatia/cc2010.git
