# DATA
CONTIGFILE=/house/homedirs/k/kbhatia/pipeline/workingdir2/cazy.PE_Assembly.1-25/454LargeContigs.fna
READSDIR=/storage/rumen/Illumina/
READSFILES=s_2.fa,s_3.fa,s_4.fa,s_5.fa,s_6.fa,s_7.fa,s_8.fa
WORKDIR=/house/homedirs/k/kbhatia/pipeline/NucleatingAssembler/workingdir2
INDEXDIR=/ifs/scratch/karan/index

# OVERLAP PARAMETERS
MIN_OVERLAP=50
MAX_ERRORS_IN_OVERLAP=1

# ASSEMBLY PARAMETERS

# GENERAL PARAMETERS
START_STEP=1
NUM_OF_STEPS=10
MAX_CONTIG_LENGTH=5000
NUM_OF_THREADS=30

# TOOLS
VMATCH_PATH=/home/asczyrba/bin     # path to vmatch distribution
NEWBLER_BIN=/jgi/tools/454/rig-DataProcessing_2.4pre-20091204/bin/runAssembly
CAP3_BIN=/home/asczyrba/bin/cap3
TIME=/home/asczyrba/bin/memtime
